<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://190.114.255.121:3306/sigf_v1?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">NintendO64</property>
    <mapping resource="entities/TrabajadorTerminal.hbm.xml"/>
    <mapping resource="entities/InventarioInterno.hbm.xml"/>
    <mapping resource="entities/LiquidacionSueldo.hbm.xml"/>
    <mapping resource="entities/MarcaBus.hbm.xml"/>
    <mapping resource="entities/MaeGuias.hbm.xml"/>
    <mapping resource="entities/HaberTrabajador.hbm.xml"/>
    <mapping resource="entities/Rol.hbm.xml"/>
    <mapping resource="entities/AbonoLiquidacion.hbm.xml"/>
    <mapping resource="entities/IntervalosAdministracion.hbm.xml"/>
    <mapping resource="entities/TipoDemanda.hbm.xml"/>
    <mapping resource="entities/DetalleIntervalosMensual.hbm.xml"/>
    <mapping resource="entities/AsignacionFamiliar.hbm.xml"/>
    <mapping resource="entities/DescuentoTrabajadorLiquidacion.hbm.xml"/>
    <mapping resource="entities/Movimientos.hbm.xml"/>
    <mapping resource="entities/TarifaServicio.hbm.xml"/>
    <mapping resource="entities/TipoContrato.hbm.xml"/>
    <mapping resource="entities/Usuario.hbm.xml"/>
    <mapping resource="entities/BusServicio.hbm.xml"/>
    <mapping resource="entities/GastoAdministracionMensual.hbm.xml"/>
    <mapping resource="entities/CargaTrabajador.hbm.xml"/>
    <mapping resource="entities/Device.hbm.xml"/>
    <mapping resource="entities/AdministracionMensual.hbm.xml"/>
    <mapping resource="entities/CuentaBancariaEmpresa.hbm.xml"/>
    <mapping resource="entities/DiaTrabajador.hbm.xml"/>
    <mapping resource="entities/Control.hbm.xml"/>
    <mapping resource="entities/TipoTrabajador.hbm.xml"/>
    <mapping resource="entities/TipoDiaFrecuencia.hbm.xml"/>
    <mapping resource="entities/CargaRetroactiva.hbm.xml"/>
    <mapping resource="entities/InstitucionApv.hbm.xml"/>
    <mapping resource="entities/UnidadNegocio.hbm.xml"/>
    <mapping resource="entities/VentaBoleto.hbm.xml"/>
    <mapping resource="entities/InstitucionSalud.hbm.xml"/>
    <mapping resource="entities/TipoControl.hbm.xml"/>
    <mapping resource="entities/ControlAsistencia.hbm.xml"/>
    <mapping resource="entities/RepresentanteEmpresa.hbm.xml"/>
    <mapping resource="entities/Despacho.hbm.xml"/>
    <mapping resource="entities/FiniquitoRelacionLaboral.hbm.xml"/>
    <mapping resource="entities/TipoMovimientoPersonal.hbm.xml"/>
    <mapping resource="entities/ContratoUnidad.hbm.xml"/>
    <mapping resource="entities/MontoSindicatoTrabajador.hbm.xml"/>
    <mapping resource="entities/JornadaTrabajador.hbm.xml"/>
    <mapping resource="entities/ProcesoRecaudacion.hbm.xml"/>
    <mapping resource="entities/ObservacionTrabajador.hbm.xml"/>
    <mapping resource="entities/ValorFijo.hbm.xml"/>
    <mapping resource="entities/Privilegio.hbm.xml"/>
    <mapping resource="entities/HaberLiquidacion.hbm.xml"/>
    <mapping resource="entities/CalleServicio.hbm.xml"/>
    <mapping resource="entities/BusDevice.hbm.xml"/>
    <mapping resource="entities/FeriadoLegal.hbm.xml"/>
    <mapping resource="entities/CompraBoleto.hbm.xml"/>
    <mapping resource="entities/ServicioProcesoRecaudacion.hbm.xml"/>
    <mapping resource="entities/Sindicato.hbm.xml"/>
    <mapping resource="entities/HorarioJornada.hbm.xml"/>
    <mapping resource="entities/SindicatoTrabajador.hbm.xml"/>
    <mapping resource="entities/DescuentoLiquidacion.hbm.xml"/>
    <mapping resource="entities/LicenciaMedica.hbm.xml"/>
    <mapping resource="entities/DetalleCompraBoleto.hbm.xml"/>
    <mapping resource="entities/User.hbm.xml"/>
    <mapping resource="entities/Boleto.hbm.xml"/>
    <mapping resource="entities/ControlHorarioServicio.hbm.xml"/>
    <mapping resource="entities/TipoNomina.hbm.xml"/>
    <mapping resource="entities/CajaCompensacion.hbm.xml"/>
    <mapping resource="entities/RelacionLaboral.hbm.xml"/>
    <mapping resource="entities/CentroCostoTrabajador.hbm.xml"/>
    <mapping resource="entities/ControlServicio.hbm.xml"/>
    <mapping resource="entities/ModeloMarcaBus.hbm.xml"/>
    <mapping resource="entities/Guia.hbm.xml"/>
    <mapping resource="entities/OperadorTransporte.hbm.xml"/>
    <mapping resource="entities/AnticipoTrabajador.hbm.xml"/>
    <mapping resource="entities/TipoCuentaBanco.hbm.xml"/>
    <mapping resource="entities/DescuentoTrabajador.hbm.xml"/>
    <mapping resource="entities/AbonoBus.hbm.xml"/>
    <mapping resource="entities/Server.hbm.xml"/>
    <mapping resource="entities/EgresoRecaudacion.hbm.xml"/>
    <mapping resource="entities/EstadoGuia.hbm.xml"/>
    <mapping resource="entities/VentaBoletoGuia.hbm.xml"/>
    <mapping resource="entities/Comuna.hbm.xml"/>
    <mapping resource="entities/InventarioTerminal.hbm.xml"/>
    <mapping resource="entities/Region.hbm.xml"/>
    <mapping resource="entities/InstitucionPrevision.hbm.xml"/>
    <mapping resource="entities/UserDevice.hbm.xml"/>
    <mapping resource="entities/Banco.hbm.xml"/>
    <mapping resource="entities/TipoEstacionalidad.hbm.xml"/>
    <mapping resource="entities/HoraExtraTrabajador.hbm.xml"/>
    <mapping resource="entities/LiquidacionEmpresa.hbm.xml"/>
    <mapping resource="entities/Servicio.hbm.xml"/>
    <mapping resource="entities/CargoBus.hbm.xml"/>
    <mapping resource="entities/TipoDiaTrabajador.hbm.xml"/>
    <mapping resource="entities/TipoCotizacionTrabajador.hbm.xml"/>
    <mapping resource="entities/MonedaPactadaInstitucionSalud.hbm.xml"/>
    <mapping resource="entities/EgresoGuia.hbm.xml"/>
    <mapping resource="entities/TipoCargo.hbm.xml"/>
    <mapping resource="entities/ParentescoCarga.hbm.xml"/>
    <mapping resource="entities/Trabajador.hbm.xml"/>
    <mapping resource="entities/HorarioServicio.hbm.xml"/>
    <mapping resource="entities/TipoAbono.hbm.xml"/>
    <mapping resource="entities/CargoLiquidacion.hbm.xml"/>
    <mapping resource="entities/Terminal.hbm.xml"/>
    <mapping resource="entities/Bus.hbm.xml"/>
    <mapping resource="entities/JornadaLaboral.hbm.xml"/>
    <mapping resource="entities/CuentaBancariaTrabajador.hbm.xml"/>
    <mapping resource="entities/FormaPago.hbm.xml"/>
    <mapping resource="entities/Calle.hbm.xml"/>
    <mapping resource="entities/TipoLinea.hbm.xml"/>
    <mapping resource="entities/SerieBoletoGuia.hbm.xml"/>
    <mapping resource="entities/Egreso.hbm.xml"/>
    <mapping resource="entities/PeriodoFrecuencia.hbm.xml"/>
    <mapping resource="entities/Tope.hbm.xml"/>
    <mapping resource="entities/TipoInstitucionApv.hbm.xml"/>
    <mapping resource="entities/Traccar.hbm.xml"/>
    <mapping resource="entities/EstadoBus.hbm.xml"/>
    <mapping resource="entities/HaberTrabajadorLiquidacion.hbm.xml"/>
    <mapping resource="entities/Mutual.hbm.xml"/>
    <mapping resource="entities/FormaPagoTrabajador.hbm.xml"/>
    <mapping resource="entities/ImpuestoSegundaCategoria.hbm.xml"/>
    <mapping resource="entities/DetalleVentaBoleto.hbm.xml"/>
    <mapping resource="entities/CausalFiniquito.hbm.xml"/>
    <mapping resource="entities/TipoCarga.hbm.xml"/>
    <mapping resource="entities/Empresa.hbm.xml"/>
    <mapping resource="entities/ParametroInterpolacion.hbm.xml"/>
    <mapping resource="entities/FrecuenciaServicio.hbm.xml"/>
    <mapping resource="entities/ValorRolloUnidad.hbm.xml"/>
    <mapping resource="entities/ParametroCesantia.hbm.xml"/>
    <mapping resource="entities/Departamento.hbm.xml"/>
    <mapping resource="entities/DiaFestivo.hbm.xml"/>
    <mapping resource="entities/TipoObservacion.hbm.xml"/>
    <mapping resource="entities/RepresentanteLegal.hbm.xml"/>
    <mapping resource="entities/Flota.hbm.xml"/>
    <mapping resource="entities/CentroCosto.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
